body{
    margin: 0px;
    padding: 0px;
}

ul.main-menu {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 0 0 2px 0;
    border-color: #1ed2ff;
    border-style: solid;
}

ul.main-menu > li {
    display: inline-block;
}

ul.main-menu > li ul {
    display: none;
    position: absolute;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 4px 4px 16px black;
    z-index: 1;
}

ul.main-menu :is(a, button) {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: sans-serif;
}

ul.main-menu > li ul a {
    text-align: start;
}

ul.main-menu li:has(ul):hover ul {
    display: block;
}

ul.main-menu :is(a, button):hover {
    background-color: black;
    color: #1ed2ff;
}

ul.main-menu img {
    vertical-align: bottom;
}

ul li.right {
    float: right;
}

.error {
    color: #ff6b6b;
}

.success {
    color: #0e0;
}

.content {
    margin: 16px;
    font-size: 1rem;
}

.note {
    position: relative;
    display: inline-block;
    width: 16px;
}
  
.note > span {
    visibility: hidden;
    width: 360px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}
  
.note > span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
  
.note:hover > span {
    visibility: visible;
}

.properties {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.properties > .prop {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
}

.properties > .prop > *:first-child {
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 16px;
    flex-basis: 1fr;
}

.properties > .prop > *:last-child {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

input, select {
    outline: none;
    padding: 6px;
    background-color: #333;
    color: #1ed2ff;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"],
select {
    border-width: 0 0 1px;
    border-color: white; 
}

input[type="submit"],
input[type="button"] {    
    border: none;    
}

input:focus {
    border-color: #1ed2ff;
}

input.error {
    border-color: #c00;
}

div.input-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.input-group {
    width: 240px !important;
}

.input-group > * {
    flex-shrink: 1;
}

.tabbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 480px;
}

button.tab {
    background-color: #333;
    color: white;
    padding: 8px;
    border: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

button.tab:not(:last-of-type) {
    border-right: 2px #999 ridge;
}

button.tab.selected {
    color: #1ed2ff
}

.tab-content {
    padding: 8px;
    border: 2px solid #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    flex-basis: 100%;
}

.login-box {
    display: table;
    border: 2px solid #1ed2ff;
    padding: 16px;
    background-color: #333;
    border-radius: 8px;
    margin: 80px auto;
    box-shadow: 4px 4px 16px black;
}

.login-box > dl {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(max-content, 240px);
    max-width: 480px;
    margin: 0;
    gap: 8px;
    color: white;
    overflow: hidden;
    align-items: center;
}

.login-box > .error {
    text-align: end;
}

.login-box > .input-group {
    margin: auto;
}

.login-box input[type=submit] {
    background-color: transparent;
    color: white;
}

.login-box input[type=submit]:hover {
    background-color: black;
    color: #1ed2ff;
}

dl.prop-grid {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(max-content, 240px);
    max-width: 480px;
    gap: 8px;
    border: 2px solid #1ed2ff;
    padding: 8px;
    border-radius: 8px;
    background-color: #333;
    color: white;
    overflow: hidden;
    align-items: last baseline;
    box-shadow: 4px 4px 16px black;
}